<!DOCTYPE html>
{% extends "mpbadmin/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center py-3">
        <div class="col-10">
            <h1>Delete Subject</h1>
        </div>
    </div>
    <div class="row justify-content-center py-3">
        <div class="col-10">
            {% load crispy_forms_tags %}
            <form method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                {{ form }}
                <input type="submit" value="Confirm">
            </form>
        </div>
    </div>
</div>
{% endblock %}