<!doctype html>
{% extends 'students/base.html' %} {% load static %} {% block pagecontent %}
<div class="container">
  <div class="row justify-content-center py-3">
    <div class="col-10">
      <h1>Create Student</h1>
    </div>
  </div>
  <div class="row justify-content-center py-3">
    <div class="col-10">
      {% load crispy_forms_tags %}
      <form method="post">
        {% csrf_token %} {{ form|crispy }}
        <button type="submit" class="btn btn-primary" value="Save">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
