<!DOCTYPE html>
{% extends 'core/base.html' %}
{% load static %}

{% block metatags %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:site_name" content="">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">
<link rel="canonical" href="#">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block content %}


<div class="container-fluid px-0">
    <section class="py-5" id="hero-home">
        <div class="container container-content-full align-content-center">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h1 class="display-1 mb-4">MPB Education</h1>
                    <p class="lead mb-4 text-tertiary">Learn smarter, not harder</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <a class="btn btn-tertiary" href="#">Get in touch!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section class="py-5 bg-primary text-light" id="testimonials">
        <div class="container align-content-center">
            <div class="row">
                <div class="col">
                    <h2>Student Testimonials</h2>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-4">
                    <div class="card align-content-center p-2">
                        <div class="card-body">
                            <h3>"Quote"</h3>
                            <p>John Doe</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card align-content-center p-2">
                        <div class="card-body">
                            <h3>"Quote"</h3>
                            <p>Jane Doe</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card align-content-center p-2">
                        <div class="card-body">
                            <h3>"Quote"</h3>
                            <p>Janet Doe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="py-5 bg-light" id="about">
        <div class="container align-content-center">
            <div class="row g-3">

                <div class="col-4">
                    <img class="img-fluid" src="https://placehold.co/490x350">
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            <h2>About Me</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis tellus ligula, at feugiat lorem rhoncus vehicula. Nulla ultrices tempus ex vel aliquet. Nunc vehicula varius vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut consectetur enim vulputate augue vulputate, eu vulputate libero malesuada. Pellentesque placerat eleifend aliquam. Mauris magna mauris, imperdiet vel porta nec, porta sed velit.</p>
                            <p>Phasellus finibus nibh purus, nec pharetra purus mattis in. Ut nibh nulla, pharetra a varius non, aliquet porta arcu. Integer nec ligula rutrum, bibendum mi at, imperdiet tellus. Nullam rhoncus sapien enim, in sollicitudin augue venenatis eget. Cras id sapien at dolor tempor vestibulum. Aenean risus leo, mattis vitae tellus vitae, accumsan pharetra felis. Ut purus ipsum, venenatis a tristique sit amet, pharetra sed diam. Praesent malesuada mollis sem non condimentum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Subjects Section -->
    <section class="py-5 bg-dark">
        <div class="container align-content-center">
            <div class="row">
                <div class="col text-light">
                    <h2>What I Teach</h2>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <div class="text-center mb-3">
                                <i class="bi bi-plus-slash-minus display-4 text-primary"></i>
                            </div>
                            <h3 class="text-center text-primary">Maths</h3>
                            <ul class="list-unstyled">
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Curriculum Topic 1</li>
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Curriculum Topic 2</li>
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Curriculum Topic 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <div class="text-center mb-3">
                                <i class="bi bi-pc-display-horizontal display-4 text-primary"></i>
                            </div>
                            <h3 class="text-center text-primary">Information Technology (IT)</h3>
                            <ul class="list-unstyled">
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Curriculum Topic 1</li>
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Curriculum Topic 2</li>
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Curriculum Topic 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <div class="text-center mb-3">
                                <i class="bi bi-virus display-4 text-primary"></i>
                            </div>
                            <h3 class="text-center text-primary">Science</h3>
                            <ul class="list-unstyled">
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Curriculum Topic 1</li>
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Curriculum Topic 2</li>
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Curriculum Topic 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
