<!DOCTYPE html>
{% extends 'core/base.html' %}
{% load static %}

{% block metatags %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="MPB Education offers expert one-to-one Maths and Science tutoring for secondary school students. Boost grades, build confidence, and achieve academic success.">
<meta name="keywords" content="Maths tutor, Science tutor, Secondary school tutor, GCSE tutor, Key Stage 3 tutor, Private tutor, One-to-one tuition, Online Maths tutor, Online Science tutor, GCSE exam preparation, UK tutoring, Academic support, Personalised tutoring, Maths help, Science help">
<meta property="og:title" content="MPB Education">
<meta property="og:description" content="MPB Education offers expert one-to-one Maths and Science tutoring for secondary school students. Boost grades, build confidence, and achieve academic success.">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="MPB Education">
<meta name="twitter:description" content="MPB Education offers expert one-to-one Maths and Science tutoring for secondary school students. Boost grades, build confidence, and achieve academic success.">
<meta name="twitter:image" content="{% static 'core/images/hero.jpg' %}">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block content %}


<div class="container-fluid px-0">
    <section class="py-5" id="hero-home">
        <div class="container container-content-full align-content-center">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h1 class="display-1 mb-4">MPB Education</h1>
                    <p class="lead mb-4 text-tertiary">Learn smarter, not harder</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <a class="btn btn-tertiary" href="/contact/">Get in touch!</a>
                </div>
            </div>
        </div>
    </section>

    {% if testimonials|length >= 3 %}
    <!-- Testimonials Section -->
    <section class="py-5 bg-primary text-light" id="testimonials">
        <div class="container align-content-center">
            <div class="row">
                <div class="col">
                    <h2>Testimonials</h2>
                </div>
            </div>
            
            <div class="row g-4">
                {% for t in testimonials %}
                <div class="col-4">
                    <div class="card align-content-center p-2">
                        <div class="card-body">
                            <h3>"{{ t.quote }}"</h3>
                            <em>{{ t.date|date:"D d m Y" }}</em>
                            <p>{{ t.guardian.first_name }} {{ t.guardian.last_name }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}

    <!-- About Section -->
    <section class="py-5 bg-light" id="about">
        <div class="container align-content-center">
            <div class="row g-3">
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                            <h2>About Me</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>I have been a tutor in GCSE Mathematics and Science 
                                for over 20 years, and more recently, I have tutored 
                                the A-Level Biology syllabus.</p>
                            <p>I have a proven track record of improving students' 
                                grades and am passionate about my subject, striving 
                                to bring out the best in every student.</p>
                            <p>My teaching style is encouraging and hands-on, with a 
                                strong focus on subject knowledge and exam techniques. 
                                I aim to provide a positive learning experience while 
                                helping students reach their full potential.</p>
                            <p>I have also worked in the Maths and Science departments of 
                                various secondary schools in London. I offer both online 
                                and in-person tutoring in Farnham, nearby areas, and London.</p>
                            <p>Since 2020, during the COVID period, I adapted my teaching to 
                                help students succeed through online learning and effectively 
                                prepare for their exams during this challenging time.</p>
                            <p>Currently, I offer both online and in-person tutoring. 
                                My online lessons have successfully helped students improve, 
                                with some finding this approach particularly beneficial in 
                                saving travel time and enhancing flexibility.</p>
                            <p>I have worked with students from both state and 
                                private schools, primarily in London, and have 
                                adapted my teaching style to meet their individual 
                                needs.</p>
                            <p>I am fully conversant with the requirements for GCSE Science 
                                (Biology, Chemistry, and Physics) and Mathematics across all 
                                examination boards, as well as the A-Level Biology syllabus.</p>
                            <p>Finally, I have a nurturing and focused teaching style and look 
                                forward to working with you. I will track your progress continuously 
                                and support you in achieving your target grades and hope to get the 
                                best out of you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Subjects Section -->
    <section class="py-5 bg-dark">
        <div class="container align-content-center">
            <div class="row text-center">
                <div class="col text-light">
                    <h2>What I Teach</h2>
                </div>
            </div>
            <div class="row justify-content-center g-4 py-3">
                <div class="col-3 mx-5">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <div class="text-center mb-3">
                                <i class="bi bi-plus-slash-minus display-4 text-primary"></i>
                            </div>
                            <h3 class="text-center text-primary">Maths</h3>
                            <ul class="list-unstyled">
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Foundation</li>
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Higher</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3 mx-5">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <div class="text-center mb-3">
                                <i class="bi bi-virus display-4 text-primary"></i>
                            </div>
                            <h3 class="text-center text-primary">Science</h3>
                            <ul class="list-unstyled">
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Biology</li>
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Chemistry</li>
                                <li class="mb-2"><i class="bi bi-check2 me-2 text-success"></i>Physics</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
